/* https://google.github.io/material-design-icons/ */
/* https://fonts.googleapis.com/icon?family=Material+Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v20/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

/* https://github.com/callemall/material-ui/blob/master/docs/src/www/css/font-icons/style.css*/
[class^="icon-"], [class*=" icon-"] {
	font-family: 'Material Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
	content: "\e0cd";
}

.icon-voicemail:before {
	content: "\e0d9";
}

.icon-expand-more:before {
	content: "\e5cf";
}

.icon-grade:before {
	content: "\e885";
}

.icon-home:before {
	content: "\e88a";
}

.icon-stars:before {
	content: "\e8d0";
}

.icon-thumb-up:before {
	content: "\e8dc";
}

.icon-sort:before {
	content: "\e164";
}

/*.icon-github:before {
	content: "\e625";
}*/

.icon-keyboard-arrow-right:before {
	content: "\e315";
}

.icon-pie-chart:before {
	content: "\e6c4";
}
